.jumbotron{background: #e1eef7;}
.jumbotron p{margin-bottom: 0px}
a{text-decoration: none !important;color:#000;}
a.active{color:#bc3527;}
.course-items{background-color: #fff !important;padding:20px;margin-bottom: 10px}
.item-img{min-height: 300px;background-image: url(http://lorempixel.com/640/480/);background-repeat: no-repeat;background-size: cover;background-position: center;}
.item-content h3{margin-top: 1px}
.filter-tags{margin-bottom: 10px !important;padding:5px;}
.filter-tags .label{background-color: #ccc;border: 1px solid #aaa;font-weight: 200 !important;letter-spacing: 0.02em;margin: 2px 2px 2px 0px;display: inline-block !important;color: #000;min-width: 50px;font-size: 14px;}
.filter-tags .label:hover{text-decoration: line-through;}