*{border-radius: 2px}
body{padding-top: 50px}
.main{min-height:1000px;}
.no-padd-leftright{padding-right: 0px !important;padding-left: 0px !important;}
.margin-hr{margin-right:20%;margin-left: 20%;border-top:1px solid #dedede;}
.notify{z-index: 9999;height:20px;height:auto;position:absolute;right:30%;left:30%;bottom: -50px;background-color: #383838;color: #fff;font-family: Calibri;font-size: 20px;padding:15px 20px 15px 15px;text-align:center;border-radius: 2px;-webkit-box-shadow: 0px 0px 5px -1px rgba(56, 56, 56, 1);-moz-box-shadow: 0px 0px 5px -1px rgba(56, 56, 56, 1);box-shadow: 0px 0px 5px -1px rgba(56, 56, 56, 1);}
.notify.fail{background-color: #e02f2f;color: #fff;opacity: 1;}
.notify.success{background-color: #4caf50;color: #fff;opacity: 1;}
.pagination>li>a, .pagination>li>span{color:#bc3527;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #bc3527;border-color: #bc3527;}
input:focus {border:1px solid rgba(188, 53, 38,0.8) !important;box-shadow: none !important}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset !important;}
input:-moz-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset !important;}
input:autofill{-webkit-box-shadow: 0 0 0px 1000px white inset !important;}
.navbar-brand{padding:5px;overflow:auto;}
.logo-header{max-height: 40px}
.justified{width:auto !important;}
.cat-name{padding:10px 20px !important;}
.open>.dropdown-menu{width:100%;}
nav{border-radius: 0px !important}
.category-navbar{display: none;border-top:1px solid #ddd;}
.sub-category-navbar{display: none;}
.category-navbar li a{color:#000;}
.sub-category-navbar li a{color:#000;padding:10px 20px;border:0px !important;}
.cat-name, .subcat-name{border:0px !important;}
.sub-cat-menu{width:auto !important;}
.dropdown:hover .dropdown-menu{display: block;margin-top: 0;}
.dropdown:last-child > .dropdown-menu{right:0 !important;left:auto;}